<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page- JijiCart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css'%}">
</head>
<body>
<a href="{% url 'home' %}">Go To HomePage</a>
<a href="{% url 'services' %}">Go To Services</a>

<h1>Available Products!!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate ducimus esse, incidunt laborum maiores maxime neque praesentium quod quos voluptas, voluptates! Aliquid exercitationem facere fugiat id magni molestiae tempore.</span><span>Ab ad architecto cumque deleniti dicta eligendi esse et ex fuga illum, in ipsum iste iusto magnam natus odio quae quaerat quibusdam quisquam repellendus saepe, sed, sequi totam ullam voluptatem.</span><span>Ad architecto cumque debitis impedit modi reiciendis sed tempore! Amet dolorem doloremque ducimus eos labore odio omnis quos repellendus suscipit vitae. Ad ducimus illo magni maiores officiis repellendus ullam unde.</span></p>
<img src="{% static 'assets/car5.jpeg' %}" alt="">
<img src="{% static 'assets/beamer1.jpeg' %}" alt="">
</body>
</html>