<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage-JijiCart</title>
        {% load static %}
    <style>
        h1{
        text-align: center;
        color: cadetblue;
        text-decoration: dotted;
        text-decoration: underline;
    }
    </style>
</head>
<body>
<h1>Welcome to JijiCart</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at, consectetur distinctio ex explicabo fugiat ipsam iste labore modi molestias numquam perferendis, porro quidem repudiandae rerum sit totam vel voluptate?</span><span>Beatae blanditiis consectetur dolor ex nam natus optio pariatur placeat voluptate. Aliquam cumque esse excepturi iusto nobis, similique tempore voluptate? Aliquid cupiditate eaque excepturi, fugiat iste labore necessitatibus nemo tenetur.</span><span>Adipisci alias beatae cumque ipsum magni. Architecto assumenda beatae consectetur deserunt dignissimos dolor fugit illo iusto minus, nobis, officiis optio quasi qui quia ratione reiciendis repellendus, sapiente sunt veritatis voluptatem?</span></p>
<button>Shop Now!!!!</button>
<img src="{% static 'assets/car5.jpeg' %}" alt="">
<img src="{% static 'assets/beamer1.jpeg' %}" alt="">
</body>
</html>