<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
   {% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>


</head>


<body>

    <h1 class="text-center text-danger">Our Services</h1>
    <a href="{% url 'home' %}">Go To HomePage</a>
    <a href="{% url 'gallery' %}">Go To Gallery</a>
  

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nisi pariatur odio omnis dolore dignissimos ad repudiandae minima. Odio quia quisquam facilis repudiandae fugit deserunt vitae fugiat asperiores! Quo, consequatur.
    Earum voluptates consectetur rem deleniti ad, ullam cupiditate ipsum architecto aperiam perferendis numquam sit doloremque maxime id commodi! Amet accusamus commodi tempora expedita, dolorum hic laudantium magnam voluptates? Exercitationem, perferendis.
    Quidem voluptatum commodi non dolores vitae, maiores similique dolorem asperiores ut sint officiis atque velit quisquam quos veniam aliquam iste nemo mollitia! Totam magni dicta mollitia ducimus rerum accusantium consequuntur!</p>
    <button class="btn btn-primary">Get Started</button>
    <!--The images displayed in the project-->
<img src="{% static 'assets/car1.jpeg' %}" alt="">
<img src="{% static 'assets/car8.jpeg' %}" alt="">
</body>
</html>